---
import Layout from '../layouts/Layout.astro';
import Experience from "@/components/"
---

<Layout title="Portfolio Minimalista Ezequiel">
	<main>
		<h1>Hola Mundo</h1>
	</main>
</Layout>

<style>
	
</style>
